.songDetail-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.songDetail-box {
  width: 85%;
  max-width: 330px;
  background: #fffaf0;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.songDetail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songDetail-title {
  font-size: 22px;
  font-weight: bold;
  background-color: #ffffff;
}

.songDetail-singer {
  margin-left: 6px;
  font-size: 15px;
  color: #b89b55;
}

.songDetail-close {
  background: #f8e1a0;
  border-radius: 50%;
  border: none;
  padding: 6px 10px;
  font-size: 18px;
}

.songDetail-body label {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #634900;
}

.songDetail-body input {
  width: 90%;
  padding: 10px;    
  border: 1px solid #ddd;
  background: #ffffff;
  border-radius: 30px;           /* 모서리 둥글게 */
  border: none;                  /* 테두리 제거 */
  box-shadow: 0 0 10px rgba(255, 238, 187, 1); /* 번지는 효과 */
}

.session-list {
  margin-top: 10px;
}

.session-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 6px 10px;
  margin-bottom: 6px;
  border-radius: 30px;           /* 모서리 둥글게 */
  border: none;                  /* 테두리 제거 */
  box-shadow: 0 0 10px rgba(255, 238, 187, 1); /* 번지는 효과 */
}
.session-player, .session-type, .songDetail-body input{
  color: #876400;
}


.session-remove {
  margin-left: auto;
  background: none;
  border: none;
  color: #EAB211;
  font-weight: bold;
}

.songDetail-footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  width: 45%;
  background: #f5d88f;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

.update-btn {
  width: 45%;
  background: #f1c057;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}
